#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424;
}

.nav--style {
  /* background: -webkit-linear-gradient(to right, #ff9472, #f2709c); */
/* background: bg-orange-secondarygreen;  */
  /* font-size: 22px; */
  /* text-align: center; */
  /* box-shadow: 0px 0px 1.5px #e0e0e0; */
  background-size: auto;
  /* color: white; */
  padding: 10px;
  position: absolute;
  left: 5px;
  right: 0px;
  top: 15px;
  font-weight: bold;  
  /* display: flex; */
  align-items: flex-start;
}